[Unit]
Description=Resman resource manager
After=network.target
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Type=simple
WorkingDirectory=__PROJECT_PATH__
ExecStart=__PROJECT_PATH__/run.sh --vname __VENV_NAME__ --public
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
